
/*index*/

.caja_login{
    padding: 10px;
    border: rgb(224, 224, 224) solid 1px;
}

.ajuste{
    padding: 20px;
}


.login{
    width: 180px;
    margin-right: 20px;
}

.registrarse{
    width: 180px;
}

/*index*/

.padding-contenido{
    margin-top: 20px;
}